# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Visual Studio unwanted files
*.suo
*.sdf
*.DS_Store
src/editors/.DS_Store

# Debug directories
Debug/

# Qt Creator unwanted files
#*.pro
*.pro.user

# Planner's build directories
BuildPlanner/
/bin
/tmp

# All build
/build/at_lite_build
/build/build*
