<?xml version="1.0" encoding="UTF-8"?>
<template name="Обучающая ИЭС">
  <documents>
    <document main="РДПД верхнего уровня" path="top_level.edfd"/>
    <document main="Модель обучаемого" path="student_model.edfd"/>
    <document main="Реализовать план обучения" path="realize_learning_plan.edfd"/>
    <document main="Модель обучения" path="learning_model.edfd"/>
    <document main="Мониторинг" path="func_process_monitoring.edfd"/>
    <document main="Создать онтологию" path="create_ontology.edfd"/>
    <document main="Создать обучающие воздействия" path="create_learning_actions.edfd"/>
  </documents>
</template>
